body{
    background-color: rgb(245, 231, 231);
}
.square{
    position: relative;
    left: 100px;
    margin-top: 25px;
    background-image: linear-gradient(45deg, #e7f7e8, rgb(204, 253, 199));
    border: 2px #41f84d solid;
}

.content{
    padding: 20px;
    text-align: center;
    color: rgb(92, 2, 20);
    letter-spacing: 0.8px;
    font-size: 35px;
}

header{
    margin-top: 130px;
    color: rgb(46, 1, 1);
    font-size: 45px;
    position: relative;
    left: 210px;
    font-weight: 900;
}

.image{
    width: 25%;
    height: 30%;
    position: relative;
    bottom: 30px;
    left: 120px;
}

#main_content{
    display: flex;
    justify-content: space-between;
}

.image_2_bro{
    position: relative;
    bottom: 75px;
    left: 130px;
    width: 50%;
}

.image_3{
    width: 38%;
    height: auto;
    position: relative;
    left: 400px;
    bottom: 50px;
}

#images{
    width: 50%;
    height: 50%;
    position: relative;
    left: 100px;
    bottom: 100px;
} 
